/** about area home **/

.about-area-v1 .img-holder-box{
  position: relative;
}

.about-area-v1 .shape-one{
  position: absolute;
  bottom: 0;
  left: -30px;
}

.about-area-v1 .img-holder img{
  border-radius: 250px;
}

.about-area-v1 .text-wrapper h4{
  font-size: 22px;
  color: var(--blue-dark);
  margin-bottom: 20px;
}

.about-area-v1 .text-wrapper p{
  margin-bottom: 20px;
}

.about-area-v1 .text-wrapper .list-style-one li{
  margin-bottom: 15px;
}

/** About area v3**/
.about-area-v3 .img-holder{
  margin-left: -150px;
}
.our-team-page .about-area-v3 .st-one{
  padding-left: 0;
  font-size: 45px;
}
.our-team-page .about-area-v3 .st-one::after{
  content: none;
}

.about-area-v3 .text-wrapper{
  padding-left: 40px;
}

.about-area-v3 .text-wrapper p{
  margin-bottom: 20px;
}
.about-page-section .about-area-v3 .text-wrapper p, .about-page-section ul{
  margin-bottom: 35px;
}

.about-area-v3 .text-wrapper ul.list-style-one li{
  margin-bottom: 13px;
}

.fancy-text-block .text-wrapper .section-title p,
.about-area-v3 .text-wrapper .section-title p{
  margin-bottom: 0;
}
