#bannerBottom {
  position: relative;
  aspect-ratio: 1920/570;
  max-width: 100%;
  width: 100%;
  max-height: 570px;

  .bg-image,
  .bg-image img {
    z-index: 0;
    position: absolute;
    inset: 0;
    pointer-events: none;
    width: 100%;
    height: 100%;
    object-fit: cover;
    object-position: right bottom;
    min-height: 250px;
    max-height: 570px;


    @media (max-width: 768px) {
      max-height: none;
    }
  }

  @media (max-width: 768px) {
    max-height: none;
    padding-bottom: 30px;
  }

  .bg-image::before {
    content: "";
    position: absolute;
    z-index: 1;
    inset: 0;
    background: linear-gradient(to bottom, rgba(0, 0, 0, 0.8) 0%, rgba(0, 0, 0, 0.4) 10%);
  }

  .title {
    font-size: 44px !important;
    line-height: 48px;
    letter-spacing: 0%;
    font-weight: 300 !important;
    margin-bottom: 24px !important;

    & strong,
    span {
      color: #fff !important;
      font-weight: 700 !important;
    }

    @media (max-width: 992px) {
      font-size: 38px !important;
      line-height: 42px;
    }

    @media (max-width: 768px) {
      font-size: 34px !important;
      line-height: 38px;
    }

    @media (max-width: 576px) {
      font-size: 30px !important;
      line-height: 34px;
    }
  }

  .summary {
    font-weight: 300 !important;
    font-size: 18px;
    line-height: 23px;
    text-align: center;
    color: #fff !important;

    & * {
      color: #fff !important;
    }

    strong {
      font-weight: 700 !important;
    }

    @media (max-width: 768px) {
      font-size: 17px;
      line-height: 22px;
    }

    @media (max-width: 576px) {
      font-size: 16px !important;
      line-height: 21px !important;
    }
  }

  .main-btn {
    border: 1px solid var(--blue-dark) !important;
    color: #fff !important;
    border-radius: 50px !important;
    padding: 15px 35px !important;
    line-height: 1;
    margin-top: 40px;

    &::after {
      content: none !important;
    }
  }
}