/** SECTION SIDEBAR RIGHT**/

.sidebar-widget-area .widget{
  border: 1px solid rgba(88, 86, 233, 0.15);
  border-radius: 5px;
  padding: 30px 40px 40px;
}

.sidebar-widget-area .widget h4.widget-title:after{
  display: block;
  content: '';
  margin-top: 10px;
  margin-bottom: 20px;
  width: 55px;
  height: 8px;
  background: url(/assets/images/shape/line-2.png) no-repeat left;
  background-size: contain;
}

.sidebar-widget-area .widget.search-widget{
  padding: 0;
  border: none;
  border-radius: 0;
}

.sidebar-widget-area .widget.search-widget form .form_control{
  height: 65px;
  border-radius: 5px;
  border: 1px solid var(--blue-dark);
  padding: 0 30px;
  font-size: 20px;
  font-weight: 500;
  color: var(--heading);
}

.sidebar-widget-area .widget.search-widget form .form_control::-webkit-input-placeholder{
  color: var(--heading);
}

.sidebar-widget-area .widget.search-widget form .form_control::-moz-placeholder{
  color: var(--heading);
}

.sidebar-widget-area .widget.search-widget form .form_control:-ms-input-placeholder{
  color: var(--heading);
}

.sidebar-widget-area .widget.search-widget form .form_control::-ms-input-placeholder{
  color: var(--heading);
}

.sidebar-widget-area .widget.search-widget form .form_control::placeholder{
  color: var(--heading);
}

.sidebar-widget-area .widget.search-widget form .search-btn{
  position: absolute;
  top: 18px;
  right: 30px;
  background-color: transparent;
  color: var(--heading);
}

.sidebar-widget-area .widget.category-widget{
  padding: 30px 40px;
}

.sidebar-widget-area .widget.category-widget .category-nav li{
  margin-bottom: 20px;
}

.sidebar-widget-area .widget.category-widget .category-nav li:last-child{
  margin-bottom: 0;
}

.sidebar-widget-area .widget.category-widget .category-nav li a{
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
  padding-bottom: 15px;
  border-bottom: 1px solid rgba(31, 30, 23, 0.1);
}

.sidebar-widget-area .widget.category-widget .category-nav li a:hover{
  color: var(--text-color);
  border-color: var(--blue-dark);
  text-decoration: none;
}

.sidebar-widget-area .widget.category-widget .category-nav li:last-child > a{
  padding-bottom: 0;
  border-bottom: none;
}

.sidebar-widget-area .widget.contact-info-widget{
  border: none;
  padding: 60px 50px;
}

.sidebar-widget-area .widget.contact-info-widget .contact-info-box{
  background-color: var(--blue-dark);
  z-index: 1;
  padding: 40px 20px;
  position: relative;
  border-radius: 7px;
}

.sidebar-widget-area .widget.contact-info-widget .contact-info-box:after{
  position: absolute;
  top: 0;
  left: 0;
  content: '';
  width: 100%;
  height: 100%;
  background-size: cover;
  z-index: -1;
  opacity: .05;
}

.sidebar-widget-area .widget.contact-info-widget .contact-info-box .icon{
  position: relative;
  width: 50px;
  height: 50px;
  border-radius: 50%;
  display: -webkit-inline-box;
  display: -ms-inline-flexbox;
  display: inline-flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  border-radius: 50%;
  background-color: rgba(0, 0, 0, 0.2);
  z-index: 1;
  font-size: 20px;
  color: var(--heading);
  margin-bottom: 20px;
}

.sidebar-widget-area .widget.contact-info-widget .contact-info-box .info h4{
  font-weight: 500;
  color: #fff;
  font-size: 22px;
}

.sidebar-widget-area .widget.contact-info-widget .contact-info-box .info h5{
  font-size: 18px;
  font-weight: 500;
  color: #fff;
  margin-bottom: 20px;
}

.sidebar-widget-area .widget.contact-info-widget .contact-info-box .icon:after{
  position: absolute;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
  content: '';
  border-radius: 50%;
  width: 70px;
  height: 70px;
  background-color: rgba(0, 0, 0, 0.08);
}

.sidebar-widget-area .widget.contact-info-widget .contact-info-box .info .main-btn{
  padding: 5px 20px;
}

.sidebar-widget-area .widget.contact-info-widget .contact-info-box .info .main-btn:hover{
  background-color: var(--heading);
  border-color: transparent;
}

.recent-post-widget .recent-post-list .post-thumbnail-content{
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  margin-bottom: 30px;
}

.recent-post-widget .recent-post-list .post-thumbnail-content:last-child{
  margin-bottom: 0;
}

.recent-post-widget .recent-post-list .post-thumbnail-content img{
  -webkit-box-flex: 0;
  -ms-flex: 0 0 90px;
  flex: 0 0 90px;
  max-width: 90px;
  margin-right: 30px;
}

.recent-post-widget .recent-post-list .post-thumbnail-content .post-title-date h6{
  font-weight: 700;
  font-size: 18px;
}

.recent-post-widget .recent-post-list .post-thumbnail-content .post-title-date h6:hover{
  color: var(--blue-dark);
}

.sidebar-widget-area .widget.tag-cloud-widget{
  padding-bottom: 30px;
}

.sidebar-widget-area .widget.tag-cloud-widget a{
  padding: 5px 12px;
  background-color: #9993;
  color: var(--heading);
  border-radius: 5px;
  font-size: 15px;
  font-weight: 700;
  margin-right: 5px;
  margin-bottom: 10px;
  line-height: 20px;
  text-transform: lowercase;
}
.sidebar-widget-area .widget.tag-cloud-widget a:first-letter{
  text-transform: uppercase;
}

.sidebar-widget-area .widget.tag-cloud-widget a:hover,
.sidebar-widget-area .widget.tag-cloud-widget a.active{
  background-color: var(--blue-dark);
  color: var(--heading);
}

/** SECTION POSTS**/

.blog-standard-post-item .post-thumbnail img{
  border-radius: 7px;
  width: 100%;
}

.blog-standard-post-item .entry-content{
  position: relative;
  background-color: #fff;
  border-radius: 7px;
  -webkit-box-shadow: 0 10px 60px 0 rgba(89, 86, 233, 0.1);
  box-shadow: 0 10px 60px 0 rgba(89, 86, 233, 0.1);
  width: 85%;
  margin-left: auto;
  margin-right: auto;
  margin-top: -60px;
  padding: 30px 45px 40px;
}

.blog-standard-post-item .entry-content .post-meta ul li{
  margin-right: 25px;
  margin-bottom: 5px;
}

.blog-standard-post-item .entry-content .post-meta ul li span .cat-link{
  color: var(--heading);
}

.blog-standard-post-item.post-with-bg .hover-content .post-meta ul li span .fa-calendar-alt,
.blog-standard-post-item .entry-content .post-meta ul li span .fa-calendar-alt{
  padding-left: 15px;
}

.blog-standard-post-item .entry-content .post-meta ul li span .fa-calendar-alt,
.blog-standard-post-item .entry-content .post-meta ul li span .fa-calendar-alt + a{
  color: var(--text-color);
}

.blog-standard-post-item .entry-content h3.title,
.blog-standard-post-item.post-with-bg .hover-content h3.title a{
  margin-bottom: 15px;
  display: -webkit-box;
  -webkit-line-clamp: 3;
  -webkit-box-orient: vertical;
  overflow: hidden;
}

.blog-standard-post-item .entry-content h3.title:hover{
  color: var(--blue-dark);
}

.blog-standard-post-item .entry-content p{
  margin-bottom: 30px;
}

.blog-standard-post-item .entry-content .main-btn{
  padding: 10px 30px;
}

.blog-standard-post-item .entry-content .main-btn:hover{
  color: #fff;
}

.blog-standard-post-item.post-without-thumbnail{
  background-color: #fafafb;
  border-top: 3px solid var(--blue-dark);
}

.blog-standard-post-item.post-without-thumbnail .entry-content{
  background-color: transparent;
  margin-left: 0;
  margin-right: 0;
  margin-top: 0;
  -webkit-box-shadow: none;
  box-shadow: none;
  width: 100%;
}

.blog-standard-post-item.post-with-bg .post-thumbnail{
  position: relative;
  overflow: hidden;
  min-height: 300px;
}

.blog-standard-post-item.post-with-bg .post-thumbnail img{
  min-height: 300px;
}

.blog-standard-post-item.post-with-bg .post-thumbnail .post-hover{
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  border-radius: 7px;
  background: -webkit-gradient(linear, left bottom, left top, from(#ccff6e), color-stop(0%, rgb(204, 255, 110)), to(rgba(0, 0, 0, 0)));
  background: -o-linear-gradient(bottom, rgb(204, 255, 110) 0%, rgb(204, 255, 110) 0%, rgba(0, 0, 0, 0) 100%);
  background: linear-gradient(0deg, #CCFF6E 0%, #CCFF6E 0%, transparent 100%);
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: end;
  -ms-flex-align: end;
  align-items: flex-end;
  padding: 45px;
}

.blog-standard-post-item.post-with-bg .hover-content .post-meta ul li{
  margin-right: 25px;
}

.blog-standard-post-item.post-with-bg .hover-content .post-meta ul li{
  margin-bottom: 5px;
}

.blog-standard-post-item.post-with-bg .hover-content .btn-link,
.blog-standard-post-item.post-with-bg .hover-content h3.title a,
.blog-standard-post-item.post-with-bg .hover-content .post-meta ul li i,
.blog-standard-post-item.post-with-bg .hover-content .post-meta ul li span a{
  color: var(--heading) !important;
}