.cta-area-v1 .cta-wrapper{
    position: relative;
    z-index: 1;
    padding: 80px 140px;
}
.cta-area-v1 .cta-wrapper:after{
    position: absolute;
    right: 0;
    bottom: 0;
    content: "";
    width: 100%;
    height: 100%;
    background:url(/assets/images/shape/map.png) no-repeat right;
    background-size: contain;
    z-index: -1;
}
.cta-area-v1 .cta-wrapper .section-title h2, .section-title h2 p{
    font-size: 70px;
    line-height: 80px;
  font-weight: 700;
}
.cta-area-v1 .cta-wrapper .section-title .fill-text strong{
    -webkit-text-stroke-color: var(--heading);
}
.cta-area-v1 .cta-img{
    position: absolute;
    right: 90px;
    bottom: -110px;
    border-radius: 151.49px;
    overflow: hidden;
}