#FAQ2 {
  .accordion-wrapper .card {
    border: 1px solid var(--blue-dark) !important;
  }

  & img {
    border-radius: 25px;
  }

  .title {
    font-size: 44px !important;
    line-height: 48px !important;
    color: var(--heading) !important;
    position: relative;
    display: inline-block;
    padding-inline: 10px;

    &::after {
      position: absolute;
      content: "";
      inset: 0;
      z-index: -1;
      background: url("/assets/images/shape/shape-tag.png") no-repeat center center;
      background-size: contain;
      pointer-events: none;
      height: 95px;
      transform: translateY(-24px);
      scale: 1.4 1;
      left: 10%;
    }

  }

  @media (max-width: 1200px) {

    padding: 70px 0 100px;

    .title {
      font-size: 35px !important;
      line-height: 48px !important;

      &::after {
        scale: 1.3 1;
        left: 8%;
        height: 80px;
        transform: translateY(-20px);
      }
    }

    .accordion-wrapper .card .card-header a {
      padding: 15px;
      font-size: 16px;
    }
  }

  @media (max-width: 992px) {

    padding: 50px 0 70px;

    .title {
      font-size: 28px !important;
      line-height: 33px !important;

      &::after {
        scale: 1.3 1;
        left: 8%;
        height: 80px;
        transform: translateY(-20px);
      }
    }

    .accordion-wrapper .card .card-header a {
      padding: 13px;
      font-size: 15px !important;
      max-width: 97%;

      &::after {
        right: 2%;
      }
    }
  }

  @media (max-width: 768px) {

    padding: 40px 0 50px;

    .title {
      font-size: 20px !important;
      line-height: 25px !important;
      margin-bottom: 24px !important;

      &::after {
        scale: 1.4 1;
        left: 8%;
        height: 60px;
        transform: translateY(-20px);
      }
    }
  }
}