/*** Main hero home ***/
.hero-banner-v1{
  z-index: 1;
  padding: 255px 0 180px;
}

.hero-banner-v1:after{
  position: absolute;
  top: 0;
  left: 0;
  content: '';
  width: 100%;
  height: 100%;
  background: -webkit-gradient(linear, left top, right top, from(var(--blue-dark)), to(rgb(0, 208, 156)));
  background: -o-linear-gradient(left, var(--blue-dark) 0%, rgb(0, 208, 156) 100%);
  background: linear-gradient(90deg, var(--blue-dark) 0%, rgb(0, 208, 156) 100%);
  opacity: 0.102;
  z-index: -1;
}

.hero-banner-v1 .hero-content h1{
  margin-bottom: 35px;
  font-size: 65px;
  line-height: 70px;
}

.hero-banner-v1 .hero-content p{
  padding-right: 30%;
  font-weight: 500;
  margin-bottom: 45px;
}

.hero-banner-v1 .hero-img{
  position: absolute;
  z-index: -1;
}

.hero-banner-v1 .hero-img.hero-img-one{
  bottom: 60px;
  left: 65px;
}

.hero-banner-v1 .hero-img.hero-img-one img{
  border-radius: 121px;
}

.hero-banner-v1 .hero-img.hero-img-two{
  bottom: 80px;
  right: 150px;
}

.hero-banner-v1 .hero-img.hero-img-two img{
  border-radius: 245px;
}

.hero-banner-v1 .hero-img.hero-img-three{
  bottom: 190px;
  right: 38%;
}

.hero-banner-v1 .shape, .page-banner .shape, .skill-area .shape, .team-area-v3 .shape{
  position: absolute;
  filter: contrast(.6) hue-rotate(195deg) brightness(2);
}

.hero-banner-v1 .shape-one{
  top: 190px;
  left: 130px;
}

.hero-banner-v1 .shape-two{
  top: 190px;
  right: 40%;
}

.hero-banner-v1 .shape-three{
  bottom: 110px;
  left: 45%;
}