#impactText {
  border-bottom: 1px solid #ccc;


  .content {
    max-width: 600px;
    margin-inline: auto;
  }

  .title {
    font-weight: 300 !important;
    font-size: 44px !important;
    line-height: 1.3 !important;

    & span {
      font-weight: 700 !important;
    }
  }

  .summary {
    font-weight: 300 !important;
    font-size: 20px;

    & strong {
      font-weight: 600 !important;
    }
  }

  .main-btn {
    border: 0 !important;
    padding: 10px 25px !important;
    text-transform: none;
  }
}

@media (max-width: 992px) {
  #impactText {
    padding-top: 70px;
    padding-bottom: 50px;


    .title {
      font-size: 35px !important;
    }

    .summary {
      font-size: 18px;
    }

    .main-btn {
      font-size: 15px;
      padding: 8px 20px !important;
    }
  }
}


@media (max-width: 575px) {
  #impactText {
    padding-top: 50px;
    padding-bottom: 30px;


    .title {
      font-size: 30px !important;
    }

    .summary {
      font-size: 16px;
      line-height: 24px;
    }

    .main-btn {
      font-size: 14px;
      padding: 8px 20px !important;
    }
  }
}