.service-item{
  position: relative;
  z-index: 1;
  padding: 50px 55px 40px;
  border-radius: 7px;
  background-color: #fff;
  border: 1px solid rgba(88, 86, 233, 0.2);
  -webkit-transition: all .3s;
  -o-transition: all .3s;
  transition: all .3s;
}

.service-style-one:hover{
  background-color: #fff;
  border-color: transparent;
  -webkit-box-shadow: 0 10px 60px 0 rgba(89, 86, 233, 0.1);
  box-shadow: 0 10px 60px 0 rgba(89, 86, 233, 0.1);
}

.service-item .icon{
  margin-bottom: 10px;
}

.service-item .icon i{
  font-size: 75px;
  line-height: 1;
  color: var(--blue-dark);
}

.service-item .text h3.title{
  margin-bottom: 15px;
  font-size: 24px;
  line-height: 35px;
}

.service-item .text p{
  margin-bottom: 10px;
}

.service-item:hover .list-style-two li{
  color: var(--heading);
}

.service-item .text .list-style-two li{
  margin-bottom: 10px;
}

.service-area-v1 .service-wrapper{
  padding-left: 90px;
  padding-right: 90px;
  background-color: #fff;
}

.service-style-three:hover,
.service-style-two:hover{
  background-color: var(--blue-dark);
  border-color: transparent;
}

.service-style-three:hover:after,
.service-style-two:hover:after{
  -webkit-transform: translateY(0);
  -ms-transform: translateY(0);
  transform: translateY(0);
}

.service-style-three:after,
.service-style-two:after{
  position: absolute;
  content: '';
  bottom: 60px;
  right: 40px;
  width: 180px;
  height: 180px;
  border-radius: 50%;
  background-color: rgba(255, 255, 255, .3);
  -webkit-transform: translateY(-30px);
  -ms-transform: translateY(-30px);
  transform: translateY(-30px);
  z-index: -1;
  -webkit-transition: all .4s;
  -o-transition: all .4s;
  transition: all .4s;
}

.service-style-three{
  -webkit-box-shadow: 0 6px 8px 0 rgba(89, 86, 233, 0.1);
  box-shadow:  0 6px 25px 0 rgba(89, 86, 233, 0.1);
  border: none;
  min-height: -webkit-fill-available;
  cursor: pointer;
  height: 100%;
}

.service-style-three:hover{
  transform: scale(1.02);
}

.differentials-item{
  padding-inline: 15px;
  min-height: -webkit-fill-available;
  height: 100%;
}
.differentials-carousel .slick-track, .differentials-item{
  display: flex !important;
}
.service-style-three:hover .text .btn-link-two,
.service-style-three:hover .text p,
.service-style-three:hover .text .list-style-two li,
.service-style-three:hover .btn-link,
.service-style-three:hover .icon i,
.service-style-two:hover .text h3.title,
.service-style-two:hover .text .list-style-two li,
.service-style-two:hover .btn-link,
.service-style-two:hover .icon i{
  color: var(--text-color);
}

.service-area-v2 .service-wrapper{
  position: relative;
  z-index: 2;
  padding: 80px 90px 50px;
  border-radius: 7px;
}

.service-style-three:hover .text .btn-link-two:before{
  background-color: #fff;
}