.team-area-v2 .team-item:hover .text .social-link{
  visibility: visible;
  opacity: 1;
}

.team-area-v2 .team-item:hover .text .social-link li a{
  -webkit-transform: translateY(0px);
  -ms-transform: translateY(0px);
  transform: translateY(0px);
}

.team-area-v2 .team-item .img-holder{
  position: relative;
}

.team-area-v2 .team-item .img-holder img{
  border-radius: 5px;
  width: 100%;
}

.team-area-v2 .team-item .text{
  position: relative;
  margin-top: -20px;
}

.team-area-v2 .team-item .text .social-link{
  visibility: hidden;
  opacity: 0;
  -webkit-transition: all .3s;
  -o-transition: all .3s;
  transition: all .3s;
}

.team-area-v2 .team-item .text .social-link li{
  margin-left: 2.5px;
  margin-right: 2.5px;
  margin-bottom: 5px;
}

.team-area-v2 .team-item .text .social-link li a{
  width: 40px;
  height: 40px;
  border-radius: 50%;
  -webkit-box-shadow: 0px 10px 30px 0px rgba(89, 86, 233, 0.2);
  box-shadow: 0px 10px 30px 0px rgba(89, 86, 233, 0.2);
  background-color: #fff;
  color: var(--blue-dark);
  font-size: 18px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-transform: translateY(-10px);
  -ms-transform: translateY(-10px);
  transform: translateY(-10px);
  -webkit-transition: all .3s;
  -o-transition: all .3s;
  transition: all .3s;
}
.team-area-v2 h2{
  font-size: 55px;
}

/*** V3 TEAM ***/
.team-area-v3 .shape{
  position: absolute;
  z-index: 0;
}
.team-area-v3 .shape.shape-one{
  top: 155px;
  left: 140px;
}
.team-area-v3 .shape.shape-two{
  top: 170px;
  right: 220px;
}
.team-area-v3 .shape.shape-three{
  bottom: 120px;
  right: 100px;
}
.team-area-v3 .team-item .img-holder{
  position: relative;
  overflow: hidden;
}
.team-area-v3 .team-item .img-holder img{
  width: 100%;
  border-radius: 5px;
}
.team-area-v3 .team-item:hover .img-holder .team-hover .social-link{
  display: block;
}
.team-area-v3 .team-item .img-holder .team-hover{
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  border-radius: 5px;
  background: -webkit-gradient( linear, left bottom, left top, from(rgba(0,0,0,0.8)), color-stop(38%, rgba(0,0,0,0.4)), to(rgba(0,0,0,0)));
  background: -o-linear-gradient( bottom, rgba(0,0,0,0.8) 0%, rgba(0,0,0,0.4) 38%, rgba(0,0,0,0) 100%);
  background: linear-gradient( 0deg, rgba(0,0,0,0.8) 0%, rgba(0,0,0,0.4) 38%, rgba(0,0,0,0) 100%);
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: end;
  -ms-flex-align: end;
  align-items: flex-end;
  padding: 40px 40px 35px;
}
.team-area-v3 .team-item .img-holder .hover-content{
  -webkit-transition: all .3s;
  -o-transition: all .3s;
  transition: all .3s;
}
.team-area-v3 .team-item .img-holder .hover-content-two h3.title,
.team-area-v3 .team-item .img-holder .hover-content h3.title{
  font-size: 30px;
  line-height: 40px;
  color: #fff;
  margin-bottom: 4px;
}
.team-area-v3 .team-item  h3.title a{
  color: #fff !important;
}
.team-area-v3 .team-item .img-holder .hover-content-two p.position,
.team-area-v3 .team-item .img-holder .hover-content p.position{
  font-weight: 500;
  color: #fff;
}
.team-area-v3 .team-item:hover .img-holder .hover-content{
  visibility: hidden;
  opacity: 0;
}
.team-area-v3 .team-item:hover .img-holder .hover-content-two{
  bottom: 40px;

}
.team-area-v3 .team-item .img-holder .hover-content-two{
  position: absolute;
  bottom: -100%;
  left: 40px;
  right: 40px;
  -webkit-transition: all .4s;
  -o-transition: all .4s;
  transition: all .4s;
}
.team-area-v3 .team-item .img-holder .hover-content-two p.position{
  margin-bottom: 10px;
}
.team-area-v3 .team-item .img-holder .hover-content-two .social-link li a{
  width: 40px;
  height: 40px;
  border-radius: 50%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  background-color: #fff;
  color: var(--blue-dark);
  margin-right: 5px;
}
.team-area-v3 .team-item .img-holder .hover-content-two .social-link li a:hover{
  background-color: var(--blue-dark);
  color: var(--heading);
}

.team-item a:hover{
  text-decoration: none;
}