---
import {getCategoriesBlog} from "@/server/services/getCategoriesBlog.ts";

import toLink from "@/utils/toLink.ts";
type Item = {
  title: string;
  slug: string;
}

// Categories data
const {data: categories, error: errorCategories} = await getCategoriesBlog({limit: 4});

if (errorCategories) {
  return Astro.redirect('/500');
}
---

<div class="widget category-widget mb-30 wow fadeInUp">
 <h4 class="widget-title">Categorias</h4>
 <ul class="category-nav">
   {
     categories?.map(({title, slug}: Item) => (
       <li><a href={toLink(`blog/${slug}`)}>{title}<span><i class="far fa-arrow-right"></i></span></a></li>
     ))
   }
 </ul>
</div>