<div class="widget search-widget mb-30 wow fadeInUp">
 <form>
  <div class="form_group">
   <input type="email" class="form_control" placeholder="Search here" name="email" required>
   <button class="search-btn"><i class="far fa-search"></i></button>
  </div>
 </form>
</div>