@import url('https://fonts.googleapis.com/css2?family=DM+Sans:wght@400;500;700&display=swap');

/* Root css */
:root{
  --text-color: #565758;
  --heading: #000000;
  --blue-dark: #CCFF6E;
  --light-gray: #fafafb;
  --dmsans: 'DM Sans', sans-serif !important;
}

*{
  margin: 0;
  padding: 0;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}

html{
  font-size: 100%;
}

a{
  color: inherit;
  text-decoration: none;
  -webkit-transition: all .3s;
  -o-transition: all .3s;
  transition: all .3s;
}

a:hover,
a:focus{
  color: inherit;
  text-decoration: none;
}

i,
span,
a{
  display: inline-block;
}

h1,
h2,
h3,
h4,
h5,
.phrase-footer{
  font-weight: 700 !important;
  letter-spacing: -0.03em !important;
}

h1,
h2,
h3,
h4,
h5,
h6{
  color: var(--heading) !important;
  margin: 0px;
  font-family: var(--dmsans);
  font-weight: 700 !important;
}

h1{
  font-size: 65px;
  line-height: 75px;
}

h2{
  font-size: 55px !important;
  line-height: 60px !important;
}

h3{
  font-size: 27px !important;
  line-height: 38px !important;
}

h4{
  font-size: 24px !important;
  line-height: 34px !important;

}

h5{
  font-size: 20px !important;
  line-height: 30px !important;
}

h6{
  font-size: 16px !important;
  line-height: 26px !important;
}

ul,
ol{
  margin: 0px;
  padding: 0px;
  list-style-type: none;
}

p{
  margin: 0px;
}

input,
textarea{
  display: inherit;
}

strong{
  color: var(--heading);
}

input:focus,
textarea:focus{
  outline: none;
}

img, .iframe, iframe, video{
  max-width: 100%;
}

blockquote{
  margin: 0;
}

body{
  font-family: var(--dmsans) !important;
  font-weight: normal !important;
  font-style: normal !important;
  color: var(--text-color) !important;
  font-size: 18px !important;
  line-height: 32px !important;
  overflow-x: hidden !important;
}

.bg_cover{
  background-position: center center;
  background-size: cover;
  background-repeat: no-repeat;
}

.slick-slide{
  outline: 0;
}

.form_group{
  position: relative;
}

.form_control{
  width: 100%;
  border: none;
  font-weight: 500;
}

ul.social-link li{
  display: inline-block;
}

.section-title .sub-title{
  position: relative;
  font-weight: 700;
  color: var(--heading);
}

.section-title .st-one{
  font-size: 28px;
  padding: 17px 35px;
  z-index: 1;
  margin-bottom: 25px;
}
.section-title .st-one{
  font-size: 28px;
  padding: 17px 35px;
  z-index: 1;
  margin-bottom: 25px;
}

.section-title .st-one:after{
  position: absolute;
  content: "";
  width: 100%;
  left: 0;
  background: url(/assets/images/shape/border-1.png) no-repeat;
  background-size: 100% 100%;
  z-index: -1;
  background-position: bottom;
  top: auto;
  bottom: 0;
  height: 100%;
}

.section-title .st-two{
  font-size: 20px;
  font-weight: 700;
  color: var(--blue-dark);
  margin-bottom: 20px;
}

.section-title .st-two:before{
  margin-right: 25px;
}

.section-title .st-two:after{
  margin-left: 25px;
}

.section-title .st-two:before,
.section-title .st-two:after{
  display: inline-block;
  vertical-align: middle;
  width: 30px;
  height: 3px;
  content: '';
  border-radius: 1.5px;
  background-color: var(--blue-dark);
}

.section-title-right .st-two:before,
.section-title-left .st-two:after{
  display: none;
}

.section-title h2, section-title h2.text p{
  margin-bottom: 22px;
}

.section-title-heading h2{
  color: var(--heading);
}

.text-heading{
  color: var(--heading);
}

.section-title p{
  font-size: 22px;
  font-weight: 400;
}

.section-title-white .st-one:after{
  background: url(/assets/images/shape/border-2.png) no-repeat bottom;
  background-size: 100% 100%;
}

.section-title-white .st-two:before,
.section-title-white .st-two:after{
  background-color: #fff;
}

.section-title-white .sub-title,
.section-title-white p,
.section-title-white h2{
  color: #fff;
}

.font-45{
  font-size: 45px;
  line-height: 50px;
}

.fill-text strong{
  line-height: 1;
  letter-spacing: -0.03em;
  margin: 0 auto;
  text-align: center;
  color: transparent;
  -webkit-text-stroke-width: 1px;
  -webkit-text-stroke-color: rgba(44, 44, 44, 0.1);
}

.gradient-body{
  position: relative;
  z-index: 1;
}

.gradient-body:after{
  position: absolute;
  top: 0;
  left: 0;
  content: '';
  width: 100%;
  height: 100%;
  opacity: 0.149;
  background: -webkit-gradient(linear, left top, right top, from(rgb(89, 86, 233)), to(rgb(0, 208, 156)));
  background: -o-linear-gradient(left, rgb(89, 86, 233) 0%, rgb(0, 208, 156) 100%);
  background: linear-gradient(90deg, rgb(89, 86, 233) 0%, rgb(0, 208, 156) 100%);
  z-index: -1;
}

.container-1450{
  max-width: 100%;
  padding-right: 15px;
  padding-left: 15px;
  margin-right: auto;
  margin-left: auto;
}

.container-1350{
  max-width: 1380px;
  margin-left: auto;
  margin-right: auto;
  padding-left: 15px;
  padding-right: 15px;
}

@media only screen and (min-width: 1200px){
  .container{
    max-width: 1200px;
  }
}

@media only screen and (min-width: 1550px){
  .container-1450{
    max-width: 1480px;
  }
}

/* All colors */

.blue-dark, .blue-dark strong{
  color: var(--blue-dark);
}

/* All Bg */

.dark-blue-bg{
  background-color: var(--blue-dark);
}

/* .light-gray-bg{
    background-color: var(--light-gray);
} */
.light-gray-bg{
  background-color: #f9f9f9;
}

/* All Button */

button{
  border: none;
}

.main-btn{
  display: -webkit-inline-box;
  display: -ms-inline-flexbox;
  display: inline-flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  justify-content: center;
  padding: 12px 35px;
  background-color: var(--blue-dark);
  color: var(--heading);
  font-size: 16px;
  font-family: var(--dmsans);
  text-transform: capitalize;
  font-weight: 700;
  border-radius: 6px;
  -webkit-transition: all .3s;
  -o-transition: all .3s;
  transition: all .3s;
  border: 1px solid var(--heading);
}

.main-btn:hover{
  background-color: var(--heading);
  color: #fff;
  text-decoration: none;
  transform: translateY(5px);
}

.main-btn.bordered-btn{
  background-color: transparent;
  border: 1px solid;
}

.bordered-btn.btn-white{
  border-color: #fff;
}

.bordered-btn.btn-white:hover, .bordered-btn.btn-heading-hover:hover{
  background-color: var(--heading) !important;
  color: #fff;
  border-color: transparent;
}

.bordered-btn.btn-blue{
  border-color: var(--heading);
  color: var(--heading);
}

.bordered-btn.btn-blue:hover{
  background-color: var(--heading);
  border-color: transparent;
  color: var(--heading);
}

.main-btn.text-hover-white:hover{
  color: #fff;
}

.arrow-btn:after{
  display: inline-block;
  content: '\f105';
  font-family: 'Font Awesome 5 Pro';
  font-weight: 400;
  margin-left: 10px;
}

.btn-link{
  font-size: 18px;
  font-weight: 700;
  color: var(--blue-dark);
  text-decoration: underline;
}

.btn-link:after{
  display: inline-block;
  vertical-align: middle;
  content: '\f178';
  font-family: 'Font Awesome 5 Pro';
  font-weight: 400;
  margin-left: 10px;
}

.btn-link-two:before{
  display: inline-block;
  content: '';
  width: 25px;
  height: 2px;
  background-color: var(--blue-dark);
  vertical-align: middle;
  margin-right: 12px;
  margin-bottom: 3px;
}

/* Preloader CSS */
.preloader{
  background-color: #fff;
  bottom: 0;
  height: 100vh;
  left: 0;
  position: fixed;
  right: 0;
  top: 0;
  width: 100vw;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  z-index: 99999;
}

.preloader .loader{
  margin: 0 auto;

  position: relative;
  text-align: center;
}

.preloader .pre-box{
  width: 50px;
  height: 50px;
  background: var(--blue-dark);
  -webkit-animation: animate .5s linear infinite;
  animation: animate .5s linear infinite;
  position: absolute;
  top: 0;
  left: 0;
  border-radius: 3px;
}

.preloader .pre-shadow{
  width: 50px;
  height: 5px;
  background: #000;
  opacity: 0.1;
  position: absolute;
  top: 59px;
  left: 0;
  border-radius: 50%;
  -webkit-animation: shadow .5s linear infinite;
  animation: shadow .5s linear infinite;
}

@-webkit-keyframes animate{
  17%{
    border-bottom-right-radius: 3px;
  }

  25%{
    -webkit-transform: translateY(9px) rotate(22.5deg);
    transform: translateY(9px) rotate(22.5deg);
  }

  50%{
    -webkit-transform: translateY(18px) scale(1, .9) rotate(45deg);
    transform: translateY(18px) scale(1, .9) rotate(45deg);
    border-bottom-right-radius: 40px;
  }

  75%{
    -webkit-transform: translateY(9px) rotate(67.5deg);
    transform: translateY(9px) rotate(67.5deg);
  }

  100%{
    -webkit-transform: translateY(0) rotate(90deg);
    transform: translateY(0) rotate(90deg);
  }
}

@keyframes animate{
  17%{
    border-bottom-right-radius: 3px;
  }

  25%{
    -webkit-transform: translateY(9px) rotate(22.5deg);
    transform: translateY(9px) rotate(22.5deg);
  }

  50%{
    -webkit-transform: translateY(18px) scale(1, .9) rotate(45deg);
    transform: translateY(18px) scale(1, .9) rotate(45deg);
    border-bottom-right-radius: 40px;
  }

  75%{
    -webkit-transform: translateY(9px) rotate(67.5deg);
    transform: translateY(9px) rotate(67.5deg);
  }

  100%{
    -webkit-transform: translateY(0) rotate(90deg);
    transform: translateY(0) rotate(90deg);
  }
}

@-webkit-keyframes shadow{
  50%{
    -webkit-transform: scale(1.2, 1);
    transform: scale(1.2, 1);
  }
}

@keyframes shadow{
  50%{
    -webkit-transform: scale(1.2, 1);
    transform: scale(1.2, 1);
  }
}

/* Floating css */

.animate-float-x{
  -webkit-animation-name: float-x;
  animation-name: float-x;
  -webkit-animation-duration: 2s;
  animation-duration: 2s;
  -webkit-animation-iteration-count: infinite;
  animation-iteration-count: infinite;
  -webkit-animation-timing-function: linear;
  animation-timing-function: linear;
}

.animate-float-y{
  -webkit-animation-name: float-y;
  animation-name: float-y;
  -webkit-animation-duration: 2s;
  animation-duration: 2s;
  -webkit-animation-iteration-count: infinite;
  animation-iteration-count: infinite;
  -webkit-animation-timing-function: linear;
  animation-timing-function: linear;
}

@-webkit-keyframes float-x{
  0%{
    -webkit-transform: translateX(-20px);
    transform: translateX(-20px);
  }

  50%{
    -webkit-transform: translateX(-10px);
    transform: translateX(-10px);
  }

  100%{
    -webkit-transform: translateX(-20px);
    transform: translateX(-20px);
  }
}

@keyframes float-x{
  0%{
    -webkit-transform: translateX(-20px);
    transform: translateX(-20px);
  }

  50%{
    -webkit-transform: translateX(-10px);
    transform: translateX(-10px);
  }

  100%{
    -webkit-transform: translateX(-20px);
    transform: translateX(-20px);
  }
}

@-webkit-keyframes float-y{
  0%{
    -webkit-transform: translateY(-20px);
    transform: translateY(-20px);
  }

  50%{
    -webkit-transform: translateY(-10px);
    transform: translateY(-10px);
  }

  100%{
    -webkit-transform: translateY(-20px);
    transform: translateY(-20px);
  }
}

@-webkit-keyframes float-bob-y{
  0%{
    -webkit-transform: translateY(-20px);
    transform: translateY(-20px);
  }

  50%{
    -webkit-transform: translateY(-10px);
    transform: translateY(-10px);
  }

  100%{
    -webkit-transform: translateY(-20px);
    transform: translateY(-20px);
  }
}

@keyframes float-bob-y{
  0%{
    -webkit-transform: translateY(-20px);
    transform: translateY(-20px);
  }

  50%{
    -webkit-transform: translateY(-10px);
    transform: translateY(-10px);
  }

  100%{
    -webkit-transform: translateY(-20px);
    transform: translateY(-20px);
  }
}

/*
    Start scroll_up css
*/
.back-to-top{
  background: var(--blue-dark);
  border-radius: 50%;
  bottom: 30px;
  color: #fff;
  cursor: pointer;
  display: none;
  font-size: 20px;
  width: 50px;
  height: 50px;
  line-height: 50px;
  position: fixed;
  right: 30px;
  text-align: center;
  text-decoration: none;
  -webkit-transition: 0.3s;
  -o-transition: 0.3s;
  transition: 0.3s;
  z-index: 337;
}

.back-to-top:hover,
.back-to-top:focus{
  background: var(--heading);
  color: #fff;
}

/* Nice select */
.nice-select{
  padding: 0;
  padding-right: 10px;
  font-size: 18px;
}

.nice-select:after{
  content: '\f107';
  font-family: 'Font Awesome 5 Pro';
  font-weight: 700;
  margin-left: 7px;
  float: right;
}

/* Animation */
@-webkit-keyframes shakeX{

  from,
  to{
    -webkit-transform: translate3d(0, 0, 0);
    transform: translate3d(0, 0, 0);
  }

  10%,
  30%,
  50%,
  70%,
  90%{
    -webkit-transform: translate3d(-5px, 0, 0);
    transform: translate3d(-5px, 0, 0);
  }

  20%,
  40%,
  60%,
  80%{
    -webkit-transform: translate3d(5px, 0, 0);
    transform: translate3d(5px, 0, 0);
  }
}

@keyframes shakeX{

  from,
  to{
    -webkit-transform: translate3d(0, 0, 0);
    transform: translate3d(0, 0, 0);
  }

  10%,
  30%,
  50%,
  70%,
  90%{
    -webkit-transform: translate3d(-5px, 0, 0);
    transform: translate3d(-5px, 0, 0);
  }

  20%,
  40%,
  60%,
  80%{
    -webkit-transform: translate3d(5px, 0, 0);
    transform: translate3d(5px, 0, 0);
  }
}

/* Offcanvas Panel */
.offcanvas-panel .offcanvas-panel-inner::-webkit-scrollbar{
  display: none;
}

.offcanvas-panel{
  position: fixed;
  right: 0;
  top: 0;
  z-index: 9999;
  width: 100%;
  height: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: end;
  -ms-flex-pack: end;
  justify-content: flex-end;
  -webkit-transition: all 0.3s ease-out 0s;
  -o-transition: all 0.3s ease-out 0s;
  transition: all 0.3s ease-out 0s;
  opacity: 0;
  visibility: hidden;
}

.offcanvas-panel .panel-overlay{
  position: fixed;
  left: 0;
  top: 0;
  width: 100vw;
  height: 100vh;
  background-color: var(--heading);
  cursor: pointer;
  z-index: 9998;
  -webkit-transition: all 0.4s ease-out 0s;
  -o-transition: all 0.4s ease-out 0s;
  transition: all 0.4s ease-out 0s;
  opacity: 0;
  visibility: hidden;
}

.offcanvas-panel.panel-on .panel-overlay{
  visibility: visible;
  opacity: 0.2;
}

.offcanvas-panel.panel-on{
  visibility: visible;
  opacity: 1;
}

.offcanvas-panel.panel-on .offcanvas-panel-inner{
  visibility: visible;
  opacity: 1;
  margin-right: 0;
  -webkit-transition: all 0.4s;
  -o-transition: all 0.4s;
  transition: all 0.4s;
}

.offcanvas-panel .offcanvas-panel-inner{
  max-width: 400px;
  height: 100%;
  background-color: #fff;
  padding: 30px 40px;
  position: relative;
  overflow-y: scroll;
  overflow-x: hidden;
  margin-right: -300px;
  -webkit-transition: all 0.3s ease-out 0s;
  -o-transition: all 0.3s ease-out 0s;
  transition: all 0.3s ease-out 0s;
  opacity: 0;
  visibility: hidden;
  z-index: 9999;
}

.offcanvas-panel .offcanvas-panel-inner .panel-logo,
.offcanvas-panel .offcanvas-panel-inner .offcanvas-panel,
.offcanvas-panel .offcanvas-panel-inner .about-us{
  margin-bottom: 40px;
}

.offcanvas-panel .panel-widget-title{
  font-size: 20px;
  margin-bottom: 20px;
  padding-bottom: 15px;
  position: relative;
  border-bottom: 2px solid #ededed;
  font-weight: 600;
}

.offcanvas-panel .contact-us ul li{
  position: relative;
  padding-left: 60px;
  margin-bottom: 30px;
  font-size: 16px;
}

.offcanvas-panel .contact-us ul li:last-child{
  margin-bottom: 0px;
}

.offcanvas-panel .contact-us ul li i{
  position: absolute;
  left: 0;
  top: 50%;
  -webkit-transform: translateY(-50%);
  -ms-transform: translateY(-50%);
  transform: translateY(-50%);
  width: 50px;
  height: 50px;
  line-height: 50px;
  background-color: var(--blue-dark);
  border-radius: 50%;
  font-size: 14px;
  border-radius: 50%;
  text-align: center;
  color: var(--heading);
  font-weight: 600;
}

.offcanvas-panel .contact-us ul li a{
  display: block;
  color: var(--text-color);
  font-size: 18px;
}

.offcanvas-panel .contact-us ul li a:hover{
  color: var(--blue-dark);
}

.offcanvas-panel .panel-close{
  position: absolute;
  top: 0;
  right: 0;
  font-size: 20px;
  width: 40px;
  height: 40px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  color: var(--heading);
  background-color: var(--blue-dark);
  z-index: 2;
}

.bussines-link{
  color: #dc3545;
}

.bussines-link:hover{
  color: #a71d2a;
}

/**** ELEMENTS ***/

/* Video CSS */

.intro-area-v1 .play-content{
  padding: 220px 0;
  position: relative;
  z-index: 1;
}

.intro-area-v1 .play-content .video-popup{
  display: -webkit-inline-box;
  display: -ms-inline-flexbox;
  display: inline-flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  width: 110px;
  height: 110px;
  border-radius: 50%;
  background-color: var(--blue-dark);
  color: #fff;
}

/* Features-area */

.features-area .text-wrapper p{
  margin-bottom: 30px;
}

.features-list{
  padding: 55px 70px 25px;
  border: 1px solid rgba(88, 86, 233, 0.149);
}

.features-area .features-item .text h4{
  display: -webkit-inline-box;
  display: -ms-inline-flexbox;
  display: inline-flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  margin-bottom: 5px;
}

.features-area .features-item .text h4:before{
  content: '\f00c';
  font-weight: 400;
  font-family: 'Font Awesome 5 Pro';
  width: 25px;
  height: 25px;
  border-radius: 50%;
  background-color: var(--blue-dark);
  color: #fff;
  line-height: 1;
  font-size: 13px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  margin-right: 15px;
}

/* Process Area v1 */

.process-area-v1 .process-item{
  padding: 0 35px;
}

.process-area-v1 .process-column{
  position: relative;
  z-index: 1;
}

.process-area-v1 .process-column:after{
  position: absolute;
  top: 30%;
  -webkit-transform: translateY(-30%);
  -ms-transform: translateY(-30%);
  transform: translateY(-30%);
  right: -60px;
  display: inline-block;
  content: '';
  width: 130px;
  height: 34px;
  background: url(/assets/images/shape/line.png) no-repeat center;
  background-size: contain;
  z-index: -1;
}

.process-area-v1 .process-column:nth-child(3n)::after{
  display: none;
}

.process-area-v1 .process-item:hover .icon img{
  -webkit-box-shadow: 0px 10px 60px 0px var(--blue-dark);
  box-shadow: 0px 10px 60px 0px var(--blue-dark);
}

.process-area-v1 .process-item .icon{
  display: -webkit-inline-box;
  display: -ms-inline-flexbox;
  display: inline-flex;
  margin-bottom: 30px;
  width: 80px;
  height: 80px;
}

.process-area-v1 .process-item .icon img{
  width: 100%;
  border-radius: 50%;
  -webkit-transition: all .3s;
  -o-transition: all .3s;
  transition: all .3s;
}

.process-area-v1 .process-item .text h4{
  margin-bottom: 10px;
}
.process-area-v1 .discover-item .process-item{
  display: flex;
  justify-content: center;
  align-items: start;
}
.process-area-v1 .discover-item .process-item .text{
  max-width: 210px;
  color: var(--heading);
  font-weight: 500;
}

/* Process Area v1 */

.process-area-v2 .shape{
  position: absolute;
  z-index: -1;
}

.process-area-v2 .shape.shape-one{
  top: 180px;
  left: 110px;
}

.process-area-v2 .shape.shape-two{
  bottom: 140px;
  left: 12%;
}

.process-area-v2 .shape.shape-three{
  top: 150px;
  right: 60px;
  width: 510px;
  height: 510px;
  border-radius: 50%;
  background-color: rgba(255, 255, 255, 0.07);
}

.process-area-v2 .process-wrapper{
  background-color: #fff;
  padding: 80px 80px 10px;
}

.process-area-v2 .process-item{
  display: -webkit-inline-box;
  display: -ms-inline-flexbox;
  display: inline-flex;
}

.process-area-v2 .process-item .icon{
  -webkit-box-flex: 0;
  -ms-flex: 0 0 110px;
  flex: 0 0 110px;
  max-width: 110px;
  margin-right: 35px;
}

.process-area-v2 .process-item .text span.step{
  font-size: 16px;
  font-weight: 700;
  color: var(--blue-dark);
  text-transform: uppercase;
}

.process-area-v2 .process-item .text h4{
  margin-bottom: 5px;
}

/* Partners Css */

.partners-wrapper{
  border: 0;
  border-bottom: none;
  border-right: none;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
  justify-content: center;
}

.partners-wrapper .partner-item{
  -webkit-box-flex: 0;
  -ms-flex: 0 0 20%;
  flex: 0 0 20%;
  max-width: 20%;
  padding: 40px 35px;
  border: 1px solid rgba(80, 56, 238, 0.102);
  max-height: 100px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
}

.partners-area-v1{
  background-color: #1e266d;
}

.partners-area-v1 .partners-arrows{
  display: flex;
  justify-content: flex-end;
}

.partners-area-v1 .partners-arrows .slick-arrow{
  width: 30px;
  height: 30px;
  border-radius: 5px;
  background-color: #323b8a;
  display: flex;
  align-items: center;
  justify-content: center;
  cursor: pointer;
  font-size: 12px;
  color: #fff;
  transition: all .3s;
  z-index: 1;
}

.partners-area-v1 .partners-arrows .slick-arrow:hover{
  background-color: var(--blue-dark);
}

.partners-area-v1 .partners-arrows .slick-arrow.next{
  margin-left: 10px;
}

.partners-area-v1 .text-wrapper h5{
  color: #fff;
}

.partners-area-v1 .text-wrapper h5:before{
  display: inline-block;
  content: '';
  width: 30px;
  height: 3px;
  background-color: #fff;
  vertical-align: middle;
  margin-right: 25px;
}

.partners-area-v1 .partners-slider-one{
  padding-top: 60px;
  border-top: 1px solid rgba(255, 255, 255, 0.20);
}

.partners-area-v1 .partners-slider-one .slick-track{
  display: flex;
  align-items: center;
}

.partners-area-v1 .partners-slider-one{
  margin-left: -45px;
  margin-right: -45px;
}

.partners-area-v1 .partners-slider-one .partner-item{
  padding-left: 45px;
  padding-right: 45px;
}

.partners-area-v1 .partner-item{
  text-align: center;
}

/* list Style */

.list-style-two li, .list-style-two li,
.list-style-one li{
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
}

.list-style-one li{
  font-weight: 700;
  color: var(--heading);
}

.list-style-two li:before,
.list-style-one li:before{
  display: -webkit-inline-box;
  display: -ms-inline-flexbox;
  display: inline-flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  font-family: 'Font Awesome 5 Pro';
}

.list-style-one li:before{
  content: '';
  width: 25px;
  height: 25px;
  border-radius: 50%;
  background-color: var(--blue-dark);
  margin-right: 15px;
  content: '\f00c';
  font-size: 13px;
  font-weight: 600;
  color: var(--heading);
}

.list-style-two li{
  font-weight: 500;
}

.list-style-two li:before{
  content: '\f061';
  margin-right: 15px;
}

.shape .circle-logo{
  max-width: 155px;
  max-height: 155px;
}

.shape-yellow-green{
  filter: sepia(100%) brightness(113%) hue-rotate(15deg) saturate(1000%);
  -webkit-filter: sepia(100%) brightness(113%) hue-rotate(15deg) saturate(1000%);
  -moz-filter: sepia(100%) brightness(113%) hue-rotate(15deg) saturate(1000%);
}

.process-column.to-green::after{
  filter: sepia(164%) brightness(150%) hue-rotate(27deg) saturate(974%);
  -webkit-filter: sepia(164%) brightness(150%) hue-rotate(27deg) saturate(974%);
  -moz-filter: sepia(164%) brightness(150%) hue-rotate(27deg) saturate(974%);
}

/** ACcordion */
@media (min-width: 1300px){
  .container.custom-container-01{
    max-width: 1400px !important;
  }
}

.faq-section-area{
  background: #F7FFE9;
  position: relative;
  z-index: 0;
  padding: 140px 0;
}

.theme-section-title .subtitle{
  font-size: 16px;
  line-height: 1.25;
  font-weight: 600;
  text-transform: uppercase;
  display: inline-block;
  margin-bottom: 15px;
  color: var(--heading);
}

.theme-section-title .title{
  font-size: 45px;
  line-height: 1.34;
  font-weight: 600;
  position: relative;
  z-index: 0;
  margin-bottom: 40px;

}

.faq-section-area .faq-content .subtitle{
  font-size: 22px;
  line-height: 1.67;
  font-weight: 500;
  margin-bottom: 65px;
  padding-right: 3vw;
}

.accordion-wrapper .card .card-body{
  padding: 10px 20px 20px;
  font-size: 16px;
  line-height: 1.5;
  font-weight: 400;
  color: var(--text-color);
  transition: .7s alternate;
}

.accordion-wrapper{
  .card{
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.06);

    + .card{
      margin-top: 20px;
    }

    border: none;
    background-color: #fff;
    border-radius: 20px;
    transition: .7s all ease;

    .card-header{
      background-color: transparent;
      padding: 0;
      border: none;

      a{
        display: block;
        font-size: 20px;
        line-height: 1.5;
        font-weight: 400;
        color: var(--heading);
        padding: 20px 20px 20px 20px;
        cursor: pointer;
        position: relative;

        &:after{
          position: absolute;
          right: 20px;
          top: 50%;
          transform: translateY(-50%);
          color: var(--heading);
          content: "\f067";
          font-family: "fontawesome";
          font-weight: 900;
          font-size: 18px;
        }

        &[aria-expanded="true"]{
          &:after{
            content: "\f068";
          }
        }
      }
    }

    .card-body{
      padding: 10px 20px 20px 20px;
      font-size: 16px;
      line-height: 1.5;
      font-weight: 400;
      color: var(--text-color);
      transition: .7s alternate;
    }
  }

  &.style-02{
    .card{
      border: 1px solid #E4E4E4;
    }
  }
}

.font-600{
  font-weight: 600;
}

.block-bg{
  max-width: max-content;
}

.text-area h2.title{
  font-size: 45px !important;
  line-height: 65px !important;
}

.slick-dots li button{
  position: relative;
  width: 7px;
  height: 7px;
  border-radius: 50%;
  background-color: var(--blue-dark);
  z-index: 1;
}

.slick-dots li button:after{
  position: absolute;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
  content: '';
  width: 20px;
  height: 20px;
  border-radius: 50%;
  border: 1px solid var(--heading);
  z-index: -1;
  visibility: hidden;
  opacity: 0;
  -webkit-transition: all .3s;
  -o-transition: all .3s;
  transition: all .3s;
}

.slick-dots li.slick-active button:after{
  visibility: visible;
  opacity: 1;
}
.primary-menu .header-right-nav > ul{
  margin-bottom: 0;
}

.discover-area{
  background: #F7FFE9;
}