---
import LayoutPage from "@/layouts/layoutPage.astro";
---
<LayoutPage
  title="Error 500 - Error del Servidor"
  description="Ha ocurrido un error en el servidor."
  keywords="error 500, servidor, error"
  className="error-500-page">
 <div class="pb-150 pt-250  container">
  <div class="row">
   <div class="col-lg-6">
    <img src="/assets/images/500.webp" alt="Error 500"/>
   </div>
   <div class="col-lg-6">
    <div class="section-title mb-30">
     <h1 class="mb-30">Error 500</h1>
     <p>Lo sentimos, ha ocurrido un error interno en el servidor.</p>
     <p>Por favor, intenta nuevamente más tarde o contacta al soporte técnico.</p>
    </div>
    <a
      href="/"
      class="main-btn bordered-btn btn-heading-hover arrow-btn col-auto bg-white"
    >
     Volver a inicio
    </a>
   </div>
  </div>
 </div>
</LayoutPage>