---
import type { Btn } from "@/resources/defuaultTypes";
import "@/styles/components/battlesHome.scss";
import toLink from "@/utils/toLink";

interface Props {
  btn?: Btn;
  items?: { title: string }[];
  list?: { text: string }[];
}

const { btn, items, list } = Astro.props;
console.log("Battles Props:", Astro.props);
---

<section id="battles">
  <div class="container my-lg-5 mb-5 mt-3">
    <!-- Barras horizontales -->
    <div class="row text-center">
      <div class="col-12 px-0">
        {
          list?.map(({ text }, index) => (
            <div class={`line-${index + 1} p-2 line`}>
              <span>{text}</span>
            </div>
          ))
        }
      </div>
    </div>

    <div class="row text-center mb-4 mb-lg-5 mt-4 mt-lg-5 cards">
      {
        items?.map(({ title }) => (
          <div class="col-auto py-3">
            <div class="card p-1 p-sm-3">{title}</div>
          </div>
        ))
      }
    </div>

    <!-- Botón inferior -->
    {
      btn && (
        <div class="row">
          <div class="col-12 text-center">
            <a
              href={toLink(btn.link)}
              class="main-btn btn-headding rounded-pill"
            >
              {btn.label}
            </a>
          </div>
        </div>
      )
    }
  </div>
</section>
