---
import Acordion from "@/components/species/acordion.astro";

interface Props {
  title?: string;
  summary?: string;
  items?: {
    title: string;
    body: string;
  }[];
}
const { items, title, summary } = Astro.props;
---

<section id="faqArea" class="faq-section-area">
  <div class="container custom-container-01">
    <div class="row">
      <div class="col-lg-6">
        <div class="theme-section-title">
          <span class="subtitle">FAQ</span>
          <h4 class="title">{title}</h4>
        </div>
        <div class="faq-content">
          <p class="subtitle">
            {summary}
          </p>
        </div>
      </div>
      <div class="col-lg-6">
        <Acordion id="accordionOne" items={items ?? []} />
      </div>
    </div>
  </div>
</section>
