---
import Acordion from "@/components/species/acordion.astro";

interface Props {
  title?: string;
  subtitle?: string;
  summary?: string;
  items?: {
    title: string;
    body: string;
  }[];
}
const {items, title, subtitle, summary} = Astro.props;
---

<section id="faqArea" class="faq-section-area">
 <div class="container custom-container-01">
  <div class="row">
   <div class="col-lg-6">
    <div class="theme-section-title">
     <span class="subtitle">{title}</span>
     <h2 class="title">{subtitle}</h2>
    </div>
    <div class="faq-content">
     <p class="subtitle">
       {summary}
     </p>
    </div>
   </div>
   <div class="col-lg-6">
    <Acordion id="accordionOne" items={items ?? []}/>
   </div>
  </div>
 </div>
</section>
