---
import CardCounter2 from "@/components/atoms/cardCounter2.astro";
import Carousel from "@/components/species/carousel.astro";
import CardCarousel from "@/components/atoms/cardCarousel.astro";
import "@/styles/components/cardCounter2.scss";

type Item = {
  impact_id: {
    title: string;
    img: string;
    number: string | number;
    isPercent?: boolean;
  };
};
interface Props {
  title?: string;
  subtitle?: string;
  items?: Item[];
}

const { title, subtitle, items } = Astro.props;

const lastWord = title?.split(" ").slice(-1)[0];
const titleWithoutLastWord = title?.split(" ").slice(0, -1).join(" ");
---

<section class="counter-area counter-area-v4 pt-100 pb-90">
  <div class="container">
    <div class="row justify-content-center">
      <div class="col-lg-10">
        <div class="section-title text-center mb-55 wow fadeInUp">
          {
            subtitle && (
              <h2 class="title">
                {titleWithoutLastWord} <span>{lastWord}</span>
              </h2>
            )
          }
          {subtitle && <p class="subtitle">{subtitle}</p>}
        </div>
      </div>
    </div>
    <div class="row no-gutters">
      <div class="col-12">
        <Carousel id="impact">
          {
            items?.map((item: Item) => (
              <CardCarousel id="impact">
                <CardCounter2 {...item?.impact_id} />
              </CardCarousel>
            ))
          }
        </Carousel>
      </div>
    </div>
  </div>
</section>
