---
import CustomImage from "@/components/atoms/customImage.astro";

type Item = {
  partners_id: {
    name: string;
    logo: string;
    link?: string;
  };
};
interface Props {
  title?: string;
  items?: Item[];
}

const { title, items } = Astro.props;

const twoLastWords = title?.split(" ").slice(-2).join(" ");
const titleWithoutTwoLastWords = title?.split(" ").slice(0, -2).join(" ");
---

<section class="partners-area pt-110 pb-80">
  <div class="container">
    <div class="row justify-content-center">
      <div class="col-lg-8">
        <div class="section-title text-center mb-55 wow fadeInUp">
          <h2>{titleWithoutTwoLastWords} <span>{twoLastWords}</span></h2>
        </div>
      </div>
    </div>
    <div class="partners-wrapper wow fadeInUp">
      {
        items?.map(({ partners_id: item }: Item) => (
          <div class="partner-item">
            <div class="img-holder">
              <a href={item?.link ?? "#"}>
                <CustomImage
                  id={item?.logo}
                  alt={item?.name}
                  style="object-fit: contain;"
                />
              </a>
            </div>
          </div>
        ))
      }
    </div>
  </div>

  <style is:inline>
@media (max-width: 992px) {
  .partners-area{
    padding-top: 50px !important;
    padding-bottom: 40px;
  }

  .partners-area .section-title{
    margin-bottom: 20px;
  }
}
  </style>
</section>
