---
import CustomImage from "@/components/atoms/customImage.astro";
import '@/styles/components/skill.scss';

interface Props {
  title?: string;
  subtitle?: string;
  summary?: string;
  img?: string;
}
const {title, subtitle, summary, img} = Astro.props;
---

<div class="skill-area skill-area-v2 pt-130 pb-80 position-relative z-1">
 <div class="shape shape-one scene shape-yellow-green">
  <span data-depth="1"><img src="/assets/images/shape/shape-7.png" alt=""></span>
 </div>
 <div class="container">
  <div class="row">
   <div class="col-lg-7">
    <div class="img-holder position-relative z-1 mb-50 wow fadeInLeft">
     <div class="shape shape-one shape-yellow-green"><span><img src="/assets/images/shape/shape-5.png" alt=""></span>
     </div>
     <CustomImage
       id={img}
       alt={title ?? 'Kiwi son personas'}
       width={630}
       height={501}
     />
    </div>
   </div>
   <div class="col-lg-5">
    <div class="text-wrapper mb-50 wow fadeInRight">
     <div class="section-title mb-30">
       {title && <span class="sub-title st-one">{title}</span>}
       {
         subtitle && <h2>{subtitle}</h2>
       }
      <div set:html={summary}></div>
     </div>
    </div>
   </div>
  </div>
 </div>
</div>