---
import '@/styles/components/team.scss';
import CardTeam2 from "@/components/atoms/cardTeam2.astro";
import type {SocialItem} from "@/resources/defuaultTypes";

type Item = {
  team_id: {
    name: string;
    position: string;
    img: string;
    socialItems?: SocialItem;
    slug: string;
  }
}

interface Props {
  title?: string;
  subtitle: string;
  summary?: string;
  items?: Item [];
}
const {title, subtitle, summary, items} = Astro.props;
---

<section class="team-area team-area-v3 light-gray-bg pt-80 pb-40 position-relative z-1">
 <div class="shape shape-one scene shape-yellow-green">
  <span data-depth="1"><img src="/assets/images/shape/shape-7.png" alt="shape team 1">
  </span>
 </div>
 <div class="shape shape-two scene shape-yellow-green">
  <span data-depth="2"><img src="/assets/images/shape/shape-12.png" alt="shape team 2"></span>
 </div>
 <div class="shape shape-three scene shape-yellow-green">
  <span data-depth="2.5"><img src="/assets/images/shape/shape-8.png" alt="shape team 3"></span>
 </div>
 <div class="container">
  <div class="row justify-content-center">
   <div class="col-lg-8">
    <div class="section-title text-center mb-55 wow fadeInUp">
      {title && <span class="sub-title st-one">{title}</span>}
      {subtitle && <h2>{subtitle}</h2>}
      {summary && <p>{summary}</p>}
    </div>
   </div>
  </div>
  <div class="row justify-content-center">
    {
      items?.map(({team_id: item}: Item) => (
        <CardTeam2 {...item}/>
      ))
    }
  </div>
 </div>
</section>