---
import CustomImage from "./customImage.astro";

interface Props {
  img: string;
  title: string;
  summary: string;
}
const {img, title, summary} = Astro.props;
---

<div class="process-column to-green">
 <div
   class="process-item text-center mb-40 wow fadeInUp"
   data-wow-delay=".15s"
 >
  <div class="icon">
   <CustomImage id={img} alt={title} width={80} height={80}/>
  </div>
  <div class="text">
   <h4>{title}</h4>
   <p>{summary}</p>
  </div>
 </div>
</div>
