---
interface Props {
  img: string;
  title: string;
  summary: string;
}
const { img, title, summary } = Astro.props;
---

<div class="col-lg-4 col-md-6 col-sm-12 process-column to-green">
  <div
    class="process-item text-center mb-40 wow fadeInUp"
    data-wow-delay=".15s"
  >
    <div class="icon">
      <img src={img} alt={title} />
    </div>
    <div class="text">
      <h4>{title}</h4>
      <p>
        {summary}
      </p>
    </div>
  </div>
</div>
