---
import { getMenuData } from "@/server/services/getMenuData";
import Menu from "@/components/species/menu.astro";
import Logo from "../atoms/logo.astro";

const { data: menuData, error } = await getMenuData(0);

if (error) {
  return Astro.redirect("/500");
}
---

<header class="theme-header transparent-header">
  <!-- header Navigation -->
  <div class="header-navigation navigation-style-v1">
    <div class="nav-overlay"></div>
    <div class="container-fluid">
      <div class="primary-menu">
        <div class="site-branding">
          <Logo />
        </div>
        <div class="nav-menu">
          <!-- Navbar Close -->
          <div class="navbar-close"><i class="far fa-times"></i></div>
          <!-- Nav Search
          <div class="nav-search">
            <form>
              <div class="form_group">
                <input
                  type="email"
                  class="form_control"
                  placeholder="Search Here"
                  name="email"
                  required
                />
                <button class="search-btn"><i class="fas fa-search"></i></button
                >
              </div>
            </form>
          </div> -->
          <!-- Main Menu -->
          <Menu menuItems={menuData} />
        </div>
        <div class="header-right-nav">
          <ul>
            <li class="bar-item p-10 px-15 bg-primary text-lg">
              <i class="fa-solid fa-grid-round-2"></i>
            </li>
            <li class="navbar-toggle-btn">
              <div class="navbar-toggler">
                <span></span>
                <span></span>
                <span></span>
              </div>
            </li>
          </ul>
        </div>
      </div>
    </div>
  </div>
</header>
