---
import { getCustomData } from "@/server/services/getCustomData";
import Logo from "../atoms/logo.astro";
import InfoContact from "../species/infoContact.astro";

const { data, error } = await getCustomData([
  "title_about",
  "title_contact",
  "resumen_about",
]);

if (error) {
  return Astro.redirect("/500");
}
---

<div class="offcanvas-panel">
  <div class="panel-overlay"></div>
  <div class="offcanvas-panel-inner">
    <div class="panel-logo">
      <Logo width={160} height={50} />
    </div>
    <div class="about-us">
      <h5 class="panel-widget-title">{data?.title_about}</h5>
      <p>
        {data?.resumen_about}
      </p>
    </div>
    <div class="contact-us">
      <h5 class="panel-widget-title">{data?.title_contact}</h5>
      <InfoContact />
    </div>
    <a href="#" class="panel-close"><i class="fal fa-times"></i></a>
  </div>
</div>
