---
import ItemAcordion from "@/components/atoms/itemAcordion.astro";

interface Props {
  id: string;
  items: {
    title: string;
    body: string;
  }[];
}

const { id, items } = Astro.props;
---

<div class="accordion-wrapper">
  <div id={id}>
    {
      items?.map((item, index) => (
        <ItemAcordion
          title={item.title}
          body={item.body}
          index={index + 1}
          parent={id}
        />
      ))
    }
  </div>
</div>
