---
import ItemAcordion from "@/components/atoms/itemAcordion.astro";

type Item = {
  faq_id: {
    title: string;
    body: string;
  };
};
interface Props {
  id: string;
  items: Item[];
}

const { id, items } = Astro.props;
---

<div class="accordion-wrapper">
  <div id={id}>
    {
      items?.map(({ faq_id: item }: Item, index) => (
        <ItemAcordion
          title={item.title}
          body={item.body}
          index={index + 1}
          parent={id}
        />
      ))
    }
  </div>
</div>
