---
import {PUBLIC_RECAPTCHA_SITE_KEY as KEY} from "astro:env/client";

interface Props {
  id: string;
  class?: string;
  api: string;
}

const {id, class: className, api} = Astro.props;
---

<div class="form-wrapper">
 <form
   class={className}
   data-id={id}
   data-form
   data-api={api}
   data-recaptcha={KEY}
 >
  <slot/>

  <div class="info-section">
   <p id="message"></p>
   <div id="loading">
    <div id="loader"></div>
   </div>
  </div>
 </form>
</div>