---
import ItemMenu from "@/components/atoms/itemMenu.astro";

export type MenuItem = {
  id?: string;
  title: string;
  link: string;
  sub_items?: MenuItem[];
};

interface Props {
  menuItems: MenuItem[];
}

const {menuItems = []} = Astro.props;
const isActive = (slug: string): boolean => {
  return Astro.url.pathname === slug || slug === "/" && Astro.url.pathname === "";
};
---

<nav class="main-menu">
 <ul class="mb-0 mt-0">
   {
     menuItems?.map((item) => {
       const renderMenuItem = (menuItem: MenuItem): any[] => {
         const hasItems =
           !!menuItem?.sub_items && menuItem?.sub_items?.length > 0;

         return (
           <ItemMenu
             id={menuItem?.id ? parseInt(menuItem?.id) : undefined}
             title={menuItem?.title}
             link={menuItem?.link}
             hasItems={hasItems}
             isActive={isActive(menuItem?.link)}
           >
             {menuItem?.sub_items?.map((subItem) => renderMenuItem(subItem))}
           </ItemMenu>
         );
       };

       return renderMenuItem(item);
     })
   }
 </ul>
</nav>
